{% extends 'layout.html' %}
{% load static %}
{% block title %}
Online Gram Panchayat
{% endblock %}
{% block content %}


  <div class="slider-1 clearfix">
    <div class="flex-container my-4">
      <div class="flexslider loading">
        <ul class="slides">
          <li>
            <!-- <div class="container"> -->
            <div class="sixteen columns contain">
              <img src="{% static 'images/1.jpg ' %}" class="item" data-topimage="16%" style="height:60vh;width:100%;object-fit:containcover" />
            </div>
            <!-- End Container -->
          </li>
          <!-- End item -->
          <li>
            <!-- <div class="container"> -->
            <div class="sixteen columns contain">
              <img src="{% static 'images/2.jpg ' %}" class="item" data-topimage="16%" style="height:60vh;width: 100%;object-fit: fill;" />
            </div>
            <!-- End Container -->
          </li>
          <!-- End item -->
          <li>
            <!-- <div class="container"> -->
            <div class="sixteen columns contain">
              <img src="{% static 'images/3.jpg' %}" class="item" data-topimage="16%" style="height:60vh;width: 100%;object-fit: fill;" />
            </div>
            <!-- End Container -->
          </li>
          <!-- End item -->
          <li>
            <!-- <div class="container"> -->
            <div class="sixteen columns contain">
              <img src="{% static 'images/4.jpg' %}" class="item" data-topimage="16%" style="height:60vh;width: 100%;object-fit: fill;" />
            </div>
            <!-- End Container -->
          </li>
          <!-- End item -->
          <li>
            <!-- <div class="container"> -->
            <div class="sixteen columns contain">
              <img src="{% static 'images/5.jpg' %}" class="item" data-topimage="16%" style="height:60vh;width: 100%;object-fit: fill;" />
            </div>
            <!-- End Container -->
          </li>
          <!-- End item -->
        </ul>
      </div>
    </div>
  </div>
  <!-- End slider -->

  <h2 align="center" style="margin-top: 3rem;  ">WEL COME TO FOJIVADA GRAM PANCHAYAT</h2>

  <div class="Wel-come-block" style="display: flex; width: 100%; height: 25rem;">
    <div class="wel-come-block-SideLeft" style="width: 50%; display: flex
;
    align-items: center;
    justify-content: end;">
      <img align="center" style="width: 50%; " src="{% static 'images/5.jpg' %}" alt="">
    </div>
    <div class="wel-come-SideRight" style="width: 50%;">
      <p style="margin: 0 0 0 10%;width: 60%;height: 25rem;display: flex;align-items: center;justify-content: end;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laborum placeat corrupti sint eum, cum fuga commodi alias reprehenderit id enim consequuntur autem assumenda provident! Dignissimos debitis error tempora modi id, doloribus minus voluptatibus atque nemo reprehenderit, saepe nam autem itaque magni possimus unde corporis aliquam illo, necessitatibus ex est illum dolore mollitia! Ab, voluptate reprehenderit.
      </p>
    </div>
  </div>

<div class="services style-1 home bottom-3">
  <div class="container clearfix">
    <div class="one-third column">
      <div class="item">
        <div class="circle" style="display: flex;justify-content: center;align-items: center;">
          <a href="#"><i class="icon-home s-80 white"></i></a>
        </div>
        <h3><a href="#">Village Developmemt Projects</a></h3>
      </div>
    </div>
    <!-- End item -->

    <div class="one-third column">
      <div class="item">
        <div class="circle" style="display: flex;justify-content: center;align-items: center;">
          <a href="#"><i class="icon-comment s080 white"></i></a>
        </div>
        <h3><a href="#">Grievance/Complaint</a></h3>
      </div>
    </div>
    <!-- End item -->

      <div class="one-third column">
        <div class="item">
          <div class="circle">
            <a href="#"><i class="icon-money"></i></a>
          </div>
          <h3><a href="#">Retina Ready</a></h3>
        </div>
      </div>
      <!-- End item -->

      <div class="one-third column">
        <div class="item">
          <div class="circle">
            <a><svg xmlns="http://www.w3.org/2000/svg" style="margin-top: -10%" width="128" height="90" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
  <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
</svg></a>
          </div>
          <h3><a href="#">pay Proprty Water Tax</a></h3>
        </div>
      </div>
      <!--  -->
    </div>
    <!-- End Container -->
  </div>
  <!-- End services -->

<!-- Start main content -->
<div class="container main-content clearfix">
  <div class="recent-work clearfix bottom-2">
    <div class="slidewrap1">
      <div class="sixteen columns">
        <h3 class="title bottom-2">Recent Work</h3>
      </div>

      <ul class="slider" id="sliderName1">
        <li class="slide">
          <!-- item -->
          <div class="one-third column item">
            <a href="single_project_1.html">
              <img src="{% static 'images/img/portfolio/thumb-1.jpg' %}" alt="" class="pic" />
              <div class="img-caption">
                <div class="desc">
                  <h3>Apple Creative</h3>
                  <p>Illustration, 3d</p><span>+</span>
                </div>
              </div>
              <!-- hover effect -->
            </a>
          </div>
          <!-- End -->

          <!-- item -->
          <div class="one-third column item">
            <a href="single_project_1.html">
              <img src="{% static 'images/img/portfolio/thumb-2.jpg' %}" alt="" class="pic" />
              <div class="img-caption">
                <div class="desc">
                  <h3>Apple Creative</h3>
                  <p>Illustration, 3d</p><span>+</span>
                </div>
              </div>
              <!-- hover effect -->
            </a>
          </div>
          <!-- End -->

          <!-- item -->
          <div class="one-third column item">
            <a href="single_project_1.html">
              <img src="{% static 'images/img/portfolio/thumb-3.jpg' %}" alt="" class="pic" />
              <div class="img-caption">
                <div class="desc">
                  <h3>Apple Creative</h3>
                  <p>Illustration, 3d</p><span>+</span>
                </div>
              </div>
              <!-- hover effect -->
            </a>
          </div>
          <!-- End -->
        </li>
        <!-- End slide -->
      </ul>
    </div>
    <!-- End slidewrap -->
  </div>
  <!-- End recent-work -->
</div>
<!-- <<< End Container >>> -->
{% endblock %}